<!DOCTYPE html>
<html>
<head>
  <title>Vue js Crud</title>
  <link rel="shortcut icon" href="logo.ico" />
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>

<div id="root">
    <div class="container">

        <div class="header text-center">
            <h2>Vue js Crud | Php and MySQLi</h2>
        </div>

        <div class="content-body">
            <h1 class="fleft">List Of Users</h1>
            <button class="fright  btn-primary" @click="showingAddModel = true">Add New</button>
            <div class="clear"></div>
            <hr>

            

            <table class="list">
                <tr>
                    <th>Id</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr v-for="user in users">
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.mobile}}</td>
                    <td><button class=" btn-success" @click="showingEditModel = true; selectUser(user)">Edit</button></td>
                    <td><button class=" btn-danger" @click="showingDeleteModel = true; selectUser(user)">Delete</button></td>
                </tr>
            </table>

        </div>

        <div class="model" id="addModel" v-if="showingAddModel">
            <div class="modelContainer">
                <div class="modelHeading">
                    <p class="fleft">Add New User</p>
                    <button class="close fright" @click="showingAddModel = false">X</button>
                    <div class="clear"></div>
                </div>
                <div class="modelContent">
                    <form method="post" @submit.prevent="saveUser()">
                        <table class="form">
                            <tr>
                                <th>Username</th>
                                <th> : </th>
                                <td><input type="text" name="username"
                                            v-validate="'required|min:3|max:20'"
                                            v-model="newUser.username" >
                                </td>
                                <td v-show="errors.has('username')" style="color:red">
                                    {{ errors.first('username') }}
                                </td>
                            </tr>

                            <tr>
                                <th>Email</th>
                                <th> : </th>
                                <td><input type="email" name="email" 
                                            v-validate="'required|email'" 
                                            v-model="newUser.email">
                                </td>
                                <td v-show="errors.has('email')" style="color:red">
                                    {{ errors.first('email') }}
                                </td>
                            </tr>

                            <tr>
                                <th>Mobile</th>
                                <th> : </th>
                                <td><input type="text" name="mobile"
                                            v-validate="'required|numeric|min:6'" 
                                            v-model="newUser.mobile">
                                </td>
                                <td v-show="errors.has('mobile')" style="color:red">
                                    {{ errors.first('mobile') }}
                                </td>
                            </tr>
                            <tr>
                                <th>Confirm Mobile</th>
                                <th> : </th>
                                <td><input type="text" name="confirm_mobile"
                                            v-validate="'required|numeric|confirmed:mobile'" data-vv-as="mobile">
                                </td>
                                <td v-show="errors.has('confirm_mobile')" style="color:red">
                                    {{ errors.first('confirm_mobile') }}
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <td><button class="btn-success" type="submit" @click="saveUser();" >Save</button></td>
                            </tr>
                        </table>
                    </form>
                    
                </div>
            </div>
        </div>

        <div class="model" id="addModel" v-if="showingEditModel">
            <div class="modelContainer">
                <div class="modelHeading">
                    <p class="fleft">Edit This User</p>
                    <button class="close fright" @click="showingEditModel = false">X</button>
                    <div class="clear"></div>
                </div>
                <div class="modelContent">
                    <form @submit.prevent="updateUser()">
                        <table class="form">
                            <tr>
                                <th>Username</th>
                                <th> : </th>
                                <td>
                                    <input type="text" name="username"
                                            v-validate="'required|min:3|max:20'"
                                            v-model="clickedUser.username" />
                                </td>
                                <td v-show="errors.has('username')" style="color:red">
                                    {{ errors.first('username') }}
                                </td>
                            </tr>

                            <tr>
                                <th>Email</th>
                                <th> : </th>
                                <td>
                                    <input type="email" name="email" 
                                            v-validate="'required|email'" 
                                            v-model="clickedUser.email">
                                </td>
                                <td v-show="errors.has('email')" style="color:red">
                                    {{ errors.first('email') }}
                                </td>
                            </tr>

                            <tr>
                                <th>Mobile</th>
                                <th> : </th>
                                <td><input type="text" name="mobile"
                                            v-validate="'required|numeric|min:6'" 
                                            v-model="clickedUser.mobile">
                                </td>
                                <td v-show="errors.has('mobile')" style="color:red">
                                    {{ errors.first('mobile') }}
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <td><button type="submit" class="btn-success" @click="updateUser();">Update</button></td>
                            </tr>
                        </table>
                    </form>

                </div>
            </div>
        </div>

        <div class="model" id="addModel" v-show="showingDeleteModel">
            <div class="modelContainer">
                <div class="modelHeading">
                    <p class="fleft">Are You Sure?</p>
                    <button class="close fright" @click="showingDeleteModel = false">X</button>
                    <div class="clear"></div>
                </div>
                <div class="modelContent">
                    <p>You are going to delete '{{clickedUser.username}}'</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <button class="btn-info" @click="showingDeleteModel=false">No</button>
                    <button class="btn-danger" @click="showingDeleteModel=false; deleteUser();">Yes</button>
                </div>
            </div>
        </div>



        <transition name="slide-fade">
            <p :class="(successMessage)? 'successMessage' : 'errorMessage'" v-if="successMessage || errorMessage">
                <button class="xclose fright" @click="successMessage = ''; errorMessage='';">
                    X
                </button>
                {{ (successMessage)? successMessage : errorMessage }}
            </p>
        </transition>
    </div>
</div>

    
    <script type="text/javascript" src="js/axios.min.js"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/vee-validate.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>
</html>